# Ignore Python bytecode files
__pycache__/
*.py[cod]
.vscode/
*.DS_Store

# Ignore Python virtual environments
venv/
.env/
.venv/
.python/

# Ignore pyproject files
*.pyproject.toml
*.poetry.lock   

