# Python
__pycache__/
*.py[cod]
*.DS_Store

# Python virtual environments
venv/
.env/
.venv/
.python/

# Dependency files
uv.lock

# Quarto build artifacts
_site/
/.quarto/
_files/
*_files/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp files
*.log
*.tmp
*~
